body{
    background-image: linear-gradient(to bottom right, var(--purple), var(--orange));
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    color: rgb(217, 237, 240);
}