.form-group{
    margin-left: 32.48vw;
}

.btn{
    margin-left: 34vw;
    transform: translateX(-3%);
}

#message{
    margin-right: 4vw;
}

/* #contact{
    transform: translateX(-3%);
} */

#title{
    transform: translateX(5%);
}